@font-face {
    font-family: albertSansFont;
    src: url(../font/Albert_Sans/AlbertSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: anuphanFont;
    src: url(../font/Anuphan/Anuphan-VariableFont_wght.ttf);
}

.albertSansFont {
    font-family: albertSansFont;
}

.anuphanFont {
    font-family: anuphanFont;
}

.m-l-r {
    margin: 0 3rem;
}

.header-component {
    align-items: center;
    margin: 20px 0;
    font-size: 20px;
}

.header-component .header-navigation a {
    text-decoration: none;
    color: #343A40;
}

.header-component .contact-button {
    font-family: albertSansFont;
    border: 1px solid #343A40;
    background-color: white;
    color: #343A40;
    max-width: fit-content;
    padding: 0.5rem;
}

.footer-component {
    margin-bottom: 7rem;
}

.footer-component .footer-left-side .footer-left {
    font-size: 48px;
}

.footer-component .footer-right-side {
    font-family: albertSansFont;
}

.footer-component .footer-right-side span {
    margin-bottom: 1rem;
}

.footer-component .footer-right-side a {
    text-decoration: none;
    color: black;
    opacity: 0.6;
    width: max-content;
}

.designer-journey {
    background-color: #212529;
    color: #ffffff;
    margin-bottom: 9rem;
}

.designer-journey .design-text {
    font-size: 32px;
}

.designer-journey .design-description {
    font-size: 20px;
    opacity: 0.5;
}

.designer-journey .designer-journey-button {
    font-size: 20px;
    background-color: #ffffff;
    color: #343A40;
    border: none;
}

.connect-button-white, .connect-button-white a {
    text-decoration: none;
    background-color: #FFFFFF;
    color: #343A40;
    font-size: 20px;
    border: 1px solid #343A40;
    padding: 0.4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.connect-button-black, .connect-button-black a {
    text-decoration: none;
    background-color: #343A40;
    color: #FFFFFF;
    font-size: 20px;
    border: none;
    padding: 0.4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* font size css */

.f-100 {
    font-weight: 100;
}

.f-200 {
    font-weight: 200;
}

.f-300 {
    font-weight: 300;
}

.f-400 {
    font-weight: 400;
}

.f-500 {
    font-weight: 500;
}

.f-600 {
    font-weight: 600;
}

.f-700 {
    font-weight: 700;
}

.f-800 {
    font-weight: 800;
}

.f-900 {
    font-weight: 900;
}

::-webkit-scrollbar {
    display: none;
}